**/__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
.idea/
.env
tmp/
test_env/
*.log
.agents
.DS_Store
._*
tmpclaude-*-cwd
.editorconfig
.pytest_cache/
.logs/
/logs/
/config/
/build/
resources/common/GeoLite2-City.mmdb
resources/common/GeoLite2-City.update.json
.history/
.python-version
*_AppSharedData
*.sock
.venv/
.claude/settings.local.json
.claude/
