thinkthinksyn
filetype
picapica
playwright
psutil
pydantic<3.0.0
opencc
pdf2image
PyMuPDF
dotenv
aiofiles
orjson
rdkit
scipy
matplotlib
reportlab
qrcode
markdown
pytest
regex
jieba
whoosh
lingua-language-detector
opencv-python
fastapi
python-barcode
uvicorn
websockets
python-multipart
python-dotenv
aiortc
av
pydub
Pillow
moviepy
webrtcvad
numpy
aiohttp
concurrent-log-handler
py-cpuinfo
nvidia-ml-py
pyopencl
json-repair
beautifulsoup4
tinycss2
markdownify
striprtf
json5
PyYAML
openpyxl
xlrd
odfpy
numbers-parser
python-docx
python-pptx
aspose.slides
olefile
tomli; python_version < "3.11"
pywin32; platform_system == "Windows"
redis
sqlalchemy[asyncio]
aiomysql
asyncpg
pymongo
motor
psycopg[binary]
pymilvus
setuptools<81; platform_system != "Windows"
milvus-lite; platform_system != "Windows"
netifaces
paramiko
sshtunnel
httpx
annoy
aiosqlite
cython
pywinpty; platform_system == "Windows"
audioop-lts; python_version >= "3.13"
miniopy-async
pyjwt[crypto]
